Lab8_2047152/inv.dtd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl "href="inv.xsl" ?>
<!DOCTYPE product [
<!ELEMENT product (title, id, price, color, description)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT description (#PCDATA)>